# OS Files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.classpath
.settings/

# Environment Variables (Crucial to ignore)
.env
.env.production
.env.staging
.env.development
.env.local

# Firebase credentials
firebase-service-account.json
pantau-apps-hma2026-firebase-adminsdk-fbsvc-*.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
